<!DOCTYPE html>
<html>
    <head>
        <title>Express Example</title>
    </head>
    <body>
        <h1>Welcome to Express Example</h1>
        <hr>
        <a href="/about">About Page</a>  <!--- We should do like this-->
        <a href="/contact">Contact</a>
    </body>
</html>