<html>
    <head>
        <title>World Population</title>
    </head>
    <body>
        <h1>World Population by Country</h1>
        <p><strong>Search for the country you want to get data from:</strong></p>
        <br>
        <form action="/show" method="GET">
            <input
              type="text"
              name="country"
              id="search"
              placeholder="Search for Country"
            />
            <button type="submit">Search</button>
      </form>
    </body>
</html>