<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <hr>
        <strong><p>Down below add into your TODO app</p></strong>
        <hr>
        <br>
        <form action="/add" method="POST">
            <label for="body">ADD TODO:</label>
            <input type="text" id="body" name="body" required><br><br>
            <button>Add Movie</button>
          </form>
    </body>
</html>