<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <hr>
        <strong><p>Down below add into your TODO app</p></strong>
        <hr>
        <br>
        <form action="/" method="POST">
            <label for="body">ADD TODO:</label>
            <input type="text" id="body" name="body" required><br><br>
            <button>add to list</button>
        </form>
        <br>
        <table>
            <% for(var i=0; i < todoitems.rowCount; i++) { %>
               <tr>
                 <td><%= todoitems.rows[i].body %> 

                    <td><form method="GET" action="/<%= todoitems.rows[i].todo_id %>">
                    <button type="submit">Delete</button>
                    </form></td>

                    <td><form method="POST" action="/<%= todoitems.rows[i].todo_id %>">
                        <!-- <form action="/<%= todoitems.rows[i].todo_id %>" method="POST"> -->
                        <input type="text" id="body" name="body" required>
                        <button>Update</button>
                        
                    </form></td>
                </td>
               </tr>
            <% } %>
            </table>
    </body>
</html>