<html>
    <head>
        <title>All Users</title>
    </head>
    <body>
        <h1>Users:</h1>
        <hr>
        <br>
        <% users.forEach(function (user,index){ %>
            <h2>User <%=index %></h2>
            <p><strong>Firstname: </strong><%= user.firstname %></p>
            <p><strong>Lastname :</strong><%= user.lastname %></p>
            <p><strong>Age :</strong><%= user.age %></p>
            <br>
            <br>
        <%} ) %>
    </body>
</html>