<html>
    <head>
        <title>Delete</title>
    </head>
    <body>
        <h1>Delete movies from archive</h1>
        <hr>
        <strong><p>Down below search for your favourite movie</p></strong>
        <br>
        <form action="/delete", method="GET">
            <input
              type="text"
              name="title"
              id="search"
              placeholder="Search for Movies to Delete"
            />
            <button type="submit">Delete</button>
      </form>
      <!-- <form method="POST" action="/delete?_method=DELETE">
        <button type="submit">Delete</button>
      </form> -->
      
    </body>
</html>