<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <hr>
        <br>
        <li><a href="register_movies">Add movies</a></li>
        <li><a href="show_movies">Search for a movie</a></li>
        <li><a href="delete_movies">Delete a movie from archive</a></li>
    </body>
</html>