<html>
    <head>
        <title>Movie</title>
    </head>
    <body>
        <h1>Your Movie</h1>
        <h2>Title: <%= title %></h2>
        <p><strong>Year: </strong><%= year %></p>
    </body>
</html>