<html>
    <head>
        <title>Add Movies</title>
    </head>
    <body>
        <h1>Add Movies</h1>
        <hr>
        <strong><p>Down below add your favourite movies</p></strong>
        <hr>
        <br>
        <form action="/add" method="POST">
            <label for="title">Add Movie Title:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="year">Release Year:</label>
            <input type="number" id="year" name="year" required><br><br>
            <button>Add Movie</button>
          </form>
    </body>
</html>