<html>
    <head>
        <title>All Movies</title>
    </head>
    <body>
        <h1>All Movies</h1>
        <hr>
        <strong><p>Down below search for your favourite movie</p></strong>
        <br>
        <form action="/show" method="GET">
            <input
              type="text"
              name="title"
              id="search"
              placeholder="Search for Movies"
            />
            <button type="submit">Search</button>
      </form>
    </body>
</html>