<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome to home</h1>
        <hr>
        <form action="/add" method="GET">
            <label for="title">Add Movie Title:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="year">Release Year:</label>
            <input type="number" id="year" name="year" required><br><br>
            <button>Add Movie</button>
          </form>
    </body>
</html>